# Core packages
langgraph
pydantic
openai
sentence-transformers
scikit-learn
python-dotenv

# Transformers & Fine-tuning
transformers
datasets
accelerate
peft
bitsandbytes
trl
retrieval
pinecone

# Neo4j and Graph Tools
py2neo
networkx
matplotlib